@tailwind base;
@tailwind components;
@tailwind utilities;


/* Root Element Styles (Made by React) */
:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f1ddfa;
  font-style: normal;
  text-decoration: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: smooth transitions when toggling theme */
html {
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Prevent white flash on load */
html {
  background-color: rgb(34, 34, 34); /* dark background */
}

html.light {
  background-color: white; /* fallback if light */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none;
  color: inherit; /* Optional: use parent element's color */
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  margin: 0px;
  padding: 0px;
}

.gradient-underline {
  /* create a thick gradient underline */
  box-shadow: inset 0 -4px 40px 0 linear-gradient(to right, #7e22ce, #ef4444);
}

/* Unfortunately, box-shadow does not support gradient directly, so you can do a workaround using a pseudo element */

.gradient-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; /* thickness */
  border-radius: 9999px; /* same as rounded-full */
  background: linear-gradient(to right, #7e22ce, #ef4444);
  box-shadow: 0 0 40px #7e22ce;
}
