@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Fonts for Safari */
@font-face {
  font-family: 'Segoe UI';
  src: url('/assets/fonts/Segoe-UI.ttf') format('truetype'),
       url('/assets/fonts/Segoe-UI.woff2') format('woff2'),
       url('/assets/fonts/Segoe-UI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url('/assets/fonts/Segoe-UI-Bold.ttf') format('truetype'),
       url('/assets/fonts/Segoe-UI-Bold.woff2') format('woff2'),
       url('/assets/fonts/Segoe-UI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}



/* Root Element Styles (Made by React) */
:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f1ddfa;
  font-style: normal;
  text-decoration: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: smooth transitions when toggling theme */
html {
  transition: background-color 0.2s ease, color 0.2s ease;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none;
  color: inherit; /* Optional: use parent element's color */
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  margin: 0px;
  padding: 0px;
}
