/* Custom Fonts for Safari */
@font-face {
  font-family: 'Segoe UI';
  src: url('/assets/fonts/Segoe-UI.ttf') format('truetype'),
       url('/assets/fonts/Segoe-UI.woff2') format('woff2'),
       url('/assets/fonts/Segoe-UI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url('/assets/fonts/Segoe-UI-Bold.ttf') format('truetype'),
       url('/assets/fonts/Segoe-UI-Bold.woff2') format('woff2'),
       url('/assets/fonts/Segoe-UI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}



/* Root Element Styles (Made by React) */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navigation bar */
.navbar {
  background-color: rgba(255, 255, 255, 0.555);
  width: auto;
  display: flex;
  height: auto;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  background: transparent;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  position: sticky;
  top: 0px;
  z-index: 10;
  padding: 24px;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}

/* Page/Navbar Title */
.navbar-title {
  font-size: 18px;
  color: black;
  font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 8px;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; 
}

.navbar-title-routed {
  font-size: 18px;
  color: black;
  font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition: 0.2s;
  cursor: pointer;
  margin-right: 8px;
}

.navbar-title-routed:hover {
  text-shadow: 0 0 2.5rem rgba(31, 12, 139, 0.822);
  
}

body {
  /* Full height */
  height: 100vh;
  width: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background: url("Resources/Wallpapers/light-mode.jpg");
  -webkit-background-size: cover;
  background-attachment: fixed;
  overflow: visible;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Website Footer */
.footbar {
  background-color: rgba(255, 255, 255, 0.555);
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  text-align: center;
  padding: 0px;
  position: relative;
  bottom: 0px;
  z-index: 9;
  margin-top: auto;
  margin-bottom: -8px;
  margin-left: 2;
  margin-right: 0px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.footbar-text {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: auto;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


/* Search Bar */
.searchbar {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: auto;
  max-width: 960px;
  padding-right: 40px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(203, 224, 255, 0.103);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  border-radius: 20px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  
}


.searchbar:hover {
  box-shadow: 0 0 1.5rem rgba(117, 97, 233, 0.822);
  
}

.searchbar-container {
  display: flex;
}

.clearbtn {
  width: 24px;
  margin-top: 22px;
  border: none;
  border-radius: 100%;
  float: right;
  cursor: pointer;
}

.searchbar-text {
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  background-color: transparent;
  border: none;
  border-width: 0px;
  font-size: 14px;
  resize: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  
}

.searchbar-text:focus {
  outline: none;
}

.searchbar-buttons {
  float: right;
}

/* Search bar buttons */
.googlebtn, .bingbtn, .gptbtn, .copilotbtn, .geminibtn { 
  width: 20px;
  max-width: 20px;
  height: 20px;
  max-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 8px;
  border: none;
  background-color: transparent;
  backdrop-filter: blur(32px);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  display: inline-block;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: transform 0.2s;
}


.perplexitybtn, .grokbtn{
  width: 20px;
  max-width: 20px;
  height: 20px;
  max-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 8px;
  border: none;
  background-color: transparent;
  backdrop-filter: blur(32px);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  display: inline-block;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: transform 0.2s;
}

.googlebtn:hover, .bingbtn:hover, .gptbtn:hover, .copilotbtn:hover, .geminibtn:hover, .perplexitybtn:hover, .grokbtn:hover {
  transform: scale(1.75);
}

.googlebtn {
  background-image: url("Resources/Icons/google.png");
  background-size: cover;
}

.bingbtn {
  background-image: url("Resources/Icons/bing.png");
  background-size: cover;
}

.gptbtn {
  background-image: url("Resources/Icons/gpt.jpeg");
  background-size: cover;
}

.copilotbtn {
  background-image: url("Resources/Icons/copilot.png");
  background-size: cover;
}

.geminibtn {
  background-image: url("Resources/Icons/gemini.png");
  background-size: cover;
}

.perplexitybtn {
  background-image: url("Resources/Icons/perplexity.png");
  background-size:cover;
  scale: 1.48;
}

.grokbtn {
  background-image: url("Resources/Icons/grok.png");
  background-size: cover;
  scale: 1.48;
}



iframe {
  border-radius: 20px;
  height: 680px;
  border: none;
}





/* List container */
.listcontainer {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 12px;
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  row-gap: 20px;
  column-gap: inherit;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.555);
  width: -webkit-fill-available;
  display: flow;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; 

}




/* Body dashboardcontainer */
.dashboardcontainer {
  
  display: grid;
  column-gap: inherit;
  
  justify-items: center;
  
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}



.column1 {
  width: -webkit-fill-available;
  display: flex;
  gap: 0px;
  margin: 4px;
  align-items: baseline;
  max-height: 340px;
  transition: 0.2s;
}


.quicklinks {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.555);
  width: -webkit-fill-available;
  min-height: -webkit-fill-available;
  display: flow;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; 

  /* Scroll */
  scrollbar-width: none;
  max-height: 340px;
  overflow-y: auto;
  height: max-content;
}

.quicklinkscontainer {
  margin: auto;
  padding: 2px;
  display: grid;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  grid-template-columns: repeat(2, 1fr);
}

.quicklink-item {
  margin-left: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 12px;
  width: -webkit-fill-available;
  padding: 8px;
  backdrop-filter: blur(32px);
  border-radius: 24px;
  background-color: #9ec5ff44;
  justify-items: center;
  display: flex;
  gap: 8px;
  transition: 0.2s;
  cursor: pointer;

  &.text {
    width: -webkit-fill-available;
    backdrop-filter: none;
    background: transparent;
    align-items: center;
    vertical-align: middle;
    text-wrap: anywhere;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    transition: 0.2s;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }


  &.icon {
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    border-radius: 12px;
    margin: auto;
    float: right;
    float: right;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
  }

}

.quicklink-item:hover, .spotlight-item-bulletin:hover, .spotlight-item-alert:hover, .spotlight-item:hover {
  box-shadow: 0 0 1.5rem rgba(117, 97, 233, 0.822);
  font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  color: black;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 16px;
  transition: 0.2s;

  &.text {
    box-shadow: none;
    background: transparent;
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 16px;
  }

  &.icon {
    background-color: #9ec5ff44;
    box-shadow: none;
    
  }

}





/* Spotlight */

.column2 {
  width: -webkit-fill-available;
  display: flex;
  gap: 0px;
  margin: 4px;
  align-items: baseline;
}


.spotlight {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.555);
  width: -webkit-fill-available;
  display: flow;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; 
  height: -webkit-fill-available;
  /* Scroll */
  scrollbar-width: none;
  max-height: 320px;
  overflow-y: auto;
}

.header {
  font-size: 16px;
  color: white;
  width: -webkit-fill-available;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 117, 0.836);
  font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
   /* Sticky positioning */
   position: sticky;
   align-items: center;
   top: -1; /* Sticks to the top of the container */
   z-index: 10; /* Ensure it stays above other content */
   padding: 20px;
    /* Add padding for better spacing */
}



.spotlight-item-alert {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-fill-available;
  padding: 4px;
  backdrop-filter: blur(32px);
  border-radius: 16px;
  background-color: #ff48000e;
  justify-items: center;
  display: flex;
  gap: 8px;
  transition: 0.2s;
  cursor: pointer;

  &.text {
    backdrop-filter: none;
    background: transparent;
    align-items: center;
    vertical-align: middle;
    text-wrap: anywhere;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  &.icon {
    min-width: 28px;
    min-height: 28px;
    max-width: 28px;
    max-height: 28px;
    background-size: cover;
    float: right;
    border-radius: 12px;
    background-image: url("Resources/Icons/alert.jpg");
    background-size: cover;
    background-position: center;
  }
}

.spotlight-item-bulletin {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-fill-available;
  padding: 4px;
  backdrop-filter: blur(32px);
  border-radius: 16px;
  background-color: #33ff2c27;
  justify-items: center;
  display: flex;
  gap: 8px;
  transition: 0.2s;
  cursor: pointer;

  &.text {
    backdrop-filter: none;
    background: transparent;
    align-items: center;
    vertical-align: middle;
    text-wrap: anywhere;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  &.icon {
    min-width: 28px;
    min-height: 28px;
    max-width: 28px;
    max-height: 28px;
    background-size: cover;
    float: right;
    border-radius: 12px;
    background-image: url("Resources/Icons/bulletin.jpg");
    background-size: cover;
    background-position: center;
  }
}

.spotlight-item {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-fill-available;
  padding: 4px;
  backdrop-filter: blur(32px);
  border-radius: 16px;
  background-color: #fbfffb21;
  justify-items: center;
  display: flex;
  gap: 8px;
  transition: 0.2s;
  cursor: pointer;

  &.text {
    backdrop-filter: none;
    background: transparent;
    align-items: center;
    vertical-align: middle;
    text-wrap: anywhere;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  &.icon {
    min-width: 28px;
    min-height: 28px;
    max-width: 28px;
    max-height: 28px;
    background-size: cover;
    float: right;
    border-radius: 12px;
  }
}




/* All Apps Header */
.allappsheader {
  cursor: pointer;
  width: max-content;
  margin-top: 12px;
  margin-bottom: 28px;
  font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 117, 0.589);
  color: white;
  font-size: 12px;
  z-index: 16;
  font-weight: bolder;
  padding: 12px;
  border-radius: 32px;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}

  .allappsheader:hover{
    background-color: rgb(1, 1, 88);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
  -webkit-backdrop-filter: drop-shadow(0.5px 0.5px 0px rgba(44, 44, 44, 0.63));
  backdrop-filter: drop-shadow(2.5px 2.5px 0px rgb(37, 37, 37));
  }





/* Body allappscontainer */
.allappscontainer {
  margin: auto;
  padding: 12px;
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  row-gap: 20px;
  column-gap: inherit;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Card Layout */
.card {
  height: 200px;
  width: 200px;
  position: relative;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 10px;
  border-radius: 20px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all .25s ease;
  z-index: 0;
  border-radius: 20px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.card.moodle::before {
  background-image: url("/icons/moodle.jpg");
}

.card.vtop::before {
  background-image: url("/icons/vtop.jpg");
}

.card.colab::before {
  background-image: url("/icons/colab.jpg");
}

.card.vitol::before {
  background-image: url("/icons/vitol.jpg");
}

.card.ffcs::before {
  background-image: url("/icons/registrations.jpg");
}

.card.webcc::before {
  background-image: url("/icons/Online Exam.jpg");
}

.card.events::before {
  background-image: url("/icons/events.jpg");
}

.card.gpa::before {
  background-image: url("/icons/gpa.jpg");
}

.card.vhelp::before {
  background-image: url("/icons/vhelp.jpg");
}

.card-content {
  display: flex;
  height: 100%;
  width: auto;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  color: #000;
  transition: background-color .25s ease, opacity .25s ease;
  opacity: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.card-content .title {
  color: black;
  z-index: 3;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;
  margin-top: 0.75rem;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.card-content p {
  z-index: 3;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 200;
  font-size: 0.8rem;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.card:hover::before {
  transform: scale(1.2);
}

.card:hover .card-content {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
}




/* Button Default */
button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 4px;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: drop-shadow(0.5px 0.5px 0px rgba(44, 44, 44, 0.63));
  backdrop-filter: drop-shadow(0.5px 0.5px 0px rgba(44, 44, 44, 0.63));
  border-radius: 12px;
}

/* Responsiveness */
@media (min-width: 356px) {
  .allappscontainer {
      -webkit-grid-template-columns: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      padding: 0px;
  }
  .card {
      height: 144px;
      width: 144px;
  }
  .title {
      font-size: 1.7rem;
  }
  p {
      visibility: hidden;
  }
}

@media (min-width: 510px) {
  .allappscontainer {
      -webkit-grid-template-columns: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      padding: 12px;
  }
  .card {
      height: 180px;
      width: 180px;
  }
  .title {
      font-size: 1rem;
  }
  p {
      font-size: 0.8rem;
      visibility: visible;
  }
}

@media (min-width: 680px) {
  
  .dashboardcontainer {
    -webkit-grid-template-columns: 0.75fr 1fr;
    grid-template-columns: 0.75fr 1fr;
  }
  .allappscontainer {
      -webkit-grid-template-columns: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      padding: 12px;
  }
  .card {
      height: 200px;
      width: 200px;
  }
  .title {
      font-size: 1.3rem;
  }
  p {
      font-size: 1rem;
      visibility: visible;
  }
}


@media (min-width: 1180px) {
  
  .dashboardcontainer {
    -webkit-grid-template-columns: 0.6fr 1fr;
    grid-template-columns: 0.6fr 1fr;
  }
  .allappscontainer {
      -webkit-grid-template-columns: repeat(4, 1fr);
      grid-template-columns: repeat(4, 1fr);
      padding: 12px;
  }
  .card {
      height: 200px;
      width: 200px;
  }
  .title {
      font-size: 1.3rem;
  }
  p {
      font-size: 1rem;
      visibility: visible;
  }
}

@media (min-width: 1480px) {
  
  .dashboardcontainer {
    -webkit-grid-template-columns: 0.6fr 1fr;
    grid-template-columns: 0.6fr 1fr;
  }
  .allappscontainer {
      -webkit-grid-template-columns: repeat(5, 1fr);
      grid-template-columns: repeat(5, 1fr);
      padding: 12px;
  }
  .card {
      height: 200px;
      width: 200px;
  }
  .title {
      font-size: 1.3rem;
  }
  p {
      font-size: 1rem;
      visibility: visible;
  }
}










/* Dynamic theming (Support for Dark Mode) */
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #000;
    background-image: url("Resources/Wallpapers/dark-mode.jpg");
  }
  .navbar, .footbar, .searchbar, .listcontainer, .quicklinks, .spotlight {
    background-color: rgba(32, 32, 32, 0.75);
  }
  .navbar-title, .navbar-title-routed, .searchbar-text, .quicklink-item.text, .spotlight-item.text {
    color: white;
  }
  
  .quicklink-item, .spotlight-item {
    background-color: rgba(71, 71, 71, 0.75);
  }


  .quicklink-item:hover, .spotlight-item-bulletin:hover, .spotlight-item-alert:hover, .spotlight-item:hover {
    box-shadow: 0 0 1.5rem rgba(117, 97, 233, 0.822);
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 16px;
    transition: 0.2s;
  }

  .card:hover .card-content{
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
  }

  .card-content .title {
    color: white;
  }
  .card-content p {
    color: white;
  }

  .footbar-text {
    color: white;
  }

  .searchbar-text {
    color: white;
  }

}